
---------------------------------------------------

      OTUS LESSON #3-4. SOFTWARE: ANSIBLE.

---------------------------------------------------

              ANSIBLE IS WORKING GOOD

---------------------------------------------------
